<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.skyseraph.xknife.mod.uselogin">

    <application android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <activity android:name=".test.LoginTest">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".imp.view.LoginActivity"></activity>
        <activity android:name=".imp.view.RegisterActivity"></activity>
        <activity android:name=".imp.view.ForgetActivity"></activity>
    </application>


</manifest>
